apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
configMapGenerator:
  - name: c2c-client-html
    files:
      - index.html
generatorOptions:
  disableNameSuffixHash: true
