apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      web:
        port: 80
        expose:
          default: true
      websecure:
        port: 443
        expose:
          default: true
      mq:
        port: 15672
        expose:
          default: true
        exposedPort: 15672
        protocol: TCP
    additionalArguments:
    - "--entrypoints.mq.address=:15672"
